{% extends "auth/base.html" %}

{% block body %}
  <div class="page page-center">
    <div class="container-tight py-4">
      <div class="text-center mb-4">
        <a href="/"><img src="/static/image/logo_alpha.png" height="80" alt="MediaAI"></a>
      </div>
      <form class="card card-md" action="/page/auth/signin" method="post" autocomplete="off">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">登录</h2>
          <div class="mb-3">
            <label class="form-label">用户名</label>
            <input type="text" class="form-control" name="name" placeholder="用户名">
          </div>
          <div class="mb-2">
            <label class="form-label">
              密码
              <span class="form-label-description">
                  <a href="">忘记密码请联系管理员</a>
                </span>
            </label>
            <div class="input-group input-group-flat">
              <input type="password" class="form-control" placeholder="密码" name="password" autocomplete="off">
            </div>
          </div>
          <div class="mb-2">
            <label class="form-check">
              <input type="checkbox" class="form-check-input"/>
              <span class="form-check-label">记住</span>
            </label>
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">登录</button>
          </div>
        </div>
      </form>
      <div class="text-center text-muted mt-3">
        还没有账户? <a href="/page/auth/signup" tabindex="-1">注册</a>
      </div>
    </div>
  </div>


{% endblock %}

