{% extends "auth/base.html" %}

{% block body %}
  <div class="page page-center">
    <div class="container-tight py-4">
      <div class="text-center mb-4">
        <a href="/"><img src="/static/image/logo_alpha.png" height="80" alt="MediaAI"></a>
      </div>
      <form class="card card-md" action="/page/auth/signup" method="post">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">注册</h2>
          <div class="mb-3">
            <label class="form-label">昵称</label>
            <input type="text" class="form-control" name="name" placeholder="昵称">
          </div>
          <div class="mb-3">
            <label class="form-label">邮箱</label>
            <input type="email" class="form-control" name="email" placeholder="邮箱">
          </div>
          <div class="mb-3">
            <label class="form-label">密码</label>
            <div class="input-group input-group-flat">
              <input type="password" class="form-control" name="password" placeholder="密码" autocomplete="off">
            </div>
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">注册</button>
          </div>
        </div>
      </form>
      <div class="text-center text-muted mt-3">
        已经有账户了? <a href="/page/auth/signin" tabindex="-1">登录</a>
      </div>
    </div>
  </div>


{% endblock %}
